/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk WILDCARD selector to override defaul styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*we'll set the box-sizing property for all our elements to
    border-box, so that later when we set the height or width to an
    element, it will be applied to the entire element, including the border.*/
}

/* General styles */
body {
 min-height: 100vh; /*Using min-height will allow it to stretch larger than the height of the
 screen when there is enough content on the page that the user needs to scroll.*/
 display:flex;
 flex-direction:column; /*so our body elements, in this case header, main and footer, will still show underneath each other.*/

 /*Generic project styles*/
 color: #3a3a3a;
 font-family: 'Lato', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem; /* top and bottom=0, left and right=1rem -- this is to prevent the text from sticking to the side of the screen*/
    position:fixed;  /*this is to keep the header always on top*. Note: the position property has affected the width of the element!!
    This is because it reverted to content width when we made the position fixed. That is why below, I gave the witdh of 100%*/
    z-index: 99; /*99 is a HIGH index, it is to make sure it's layered on top of any other elements*/
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a; /* we also used this color in the body element above*/
    }

header a {
    text-decoration: none; /*this will remove the underlines from ALL the a in a header*/
    color:inherit; /*let's also set the text color to inherit from body.
    This will take care of the default link color being applied by the browser.*/
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase; 
    letter-spacing: 2px; /*this provides a bit of breathing space between the letters*/
    color:#252525
        }

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/*I want to target the individual lists now*/
#menu > li {
    margin-bottom:1em; /*I use the margin to separate the individual lists, and 1 em is approximately 17px*/
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position:absolute; /*Absolute positioning takes an element outside the normal
    flow of the page structure.
    It is positioned relative to the nearest positioned ancestor
    in our case, the header.*/
    left:0px;
    background-color: #ffffff;
    padding: 0 1rem; /* top and bottom=0, left and right=1rem -- this is to prevent the text from sticking to the side of the screen*/
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none; /*this is so the navbars are hidden until the user clicks to open them*/
    
}

/*Main content*/
main {
    background-color: lightblue;
    /*This is to make the main element take up any surplus space to push down the footer*/
    flex: 1 0 auto; /*It should not shrink when the screen is too small to show all
the content, so we'll use the flex shorthand and set it to 1 0 auto.*/
}

/*Footer*/
footer {
    background-color: orange;
}